body {
    background-image: url("../img/bg.png");
}
.nav_logo {
    width: 60px;
    margin-left: 20px;
}
.nav_logo img{
    width: 100%;
}
.navbar-nav .active {
    border: 1px solid black;
    border-radius: 5px;
}
.nav-link {
    color: black;
}
.nav-link .inpage{
    font-weight: 10px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(65, 64, 66, 0.7)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.show ul{
    margin-left: 20px;
}
